
{% extends 'project/navbar.html' %}
{% load project_tags %}
{% block content %}

 <style type="text/css">
   TD.leftcol {
    width: 200px; /* Ширина левой колонки с рисунком */
     }
     body {

    background-size: 110%;
   }
       .list-pages {
        text-align: center;
        margin: 0 0 20px 0;
    }
    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }
    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }
    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 44px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 30px;
    }
    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }
    .list-pages .page-num-selected {
        border: none;
        color: #000;
        font-size: 20px;
    }
    .list-pages .page-num-selected:hover {
        box-shadow: none;
    }
  </style>
    <title>{{title}}</title>



<!--{% getcats as cats %}-->
<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
      <ul class="navbar-nav">
  {% if category_selected == 0 %}
          <li > Все книги </li>
  {% else %}
           <li >
            <a class="nav-link " href="{% url 'books' %}">Все книги</a>
          </li>
  {% endif %}

{% show_categories  '-name' category_selected %}


      </ul>
  </div>
</nav>
<ul>
    {% for p in b %}
         <table width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td class="leftcol" >
            {% if p.photo %}
            <img src="{{p.photo.url }}"
        width="150" height="200" >
        {% endif %}
        </td>
        <td valign="top"><h4>{{p.title}}</h4>
            <p>{{p.description}}</p>
            <h5>{{p.author}}</h5>
            <p>{{p.price}}</p>
        </td>
       </tr>
      </table><hr>




    {% endfor %}
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        {% if  page_obj_number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% else %}
        <li class="page-num ">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</nav>
</ul>

{% endblock %}
