
{% extends 'project/navbar.html' %}
{% block content %}

 <head>
    <meta charset="UTF-8" />
 <style>

    .holder{
        position:relative;

        }
        .block{
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        background:rgba(255,255,255, 0.7);
        padding:20px;
        display:none;
    }
    .holder:hover .block{
       display:block;
    }


  </style>

    <title>SupportMe Главная страница </title>
  </head>


<body>
<div class="container-fluid">
    <center>
    <h3> &nbsp Улучшай свою жизнь вместе с supportme!  </h3><br>

<div class='holder'>
    <img src="https://media.istockphoto.com/id/471876836/photo/open-book.jpg?s=612x612&w=0&k=20&c=Av_8ChKPJO2Q_rBNsYrhlLox7StDe4ShBmZLIxqQhJw=" class="rounded " alt="img5" width="700px">
    <div class='block bg-transparent'>
        <h3 style="color:white">Развивайся вместе с нами</h3>
    </div>
</div>
        </center>
</div>
</body>

{% endblock %}
