
{% extends 'project/navbar.html' %}
{% block content %}

 <head>
    <meta charset="UTF-8" />
 <style>

    .holder{
        position:relative;

        }
        .block{
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        background:rgba(255,255,255, 0.7);
        padding:20px;
        display:none;
    }
    .holder:hover .block{
       display:block;
    }


  </style>

    <title>SupportMe Главная страница </title>
  </head>


<body background="">
<div class="container-fluid">
    <center>
    <h3> &nbsp Улучшай свою жизнь вместе с supportme!  </h3></center>
 <img src="https://i.pinimg.com/736x/7d/b9/6c/7db96c77cda0ebe7b542c9997f5c4c3c.jpg" class='rounded' alt="img1" width="200">
    <img src="https://i.pinimg.com/originals/6f/61/82/6f61824478a9f24cd8adcc0c66fd78de.jpg" class="rounded " alt="img2" width="253">
    <img src="https://i.pinimg.com/564x/62/40/ca/6240ca92675b122e4e63d98a77f0a1dd.jpg" class="rounded " alt="img3" width="253">
    <img src="https://i.pinimg.com/564x/21/ef/44/21ef4420de7f5b149b4739d0f3989c1c.jpg" class="rounded " alt="img4" width="253">
     <img src="https://i.pinimg.com/originals/47/a7/8e/47a78e573d3951de3163ef3d6b2a915a.jpg" class="rounded " alt="img4" width="253">
    <img src="https://i.pinimg.com/750x/c1/29/27/c129277177bc9c506f97c46faf2e563d.jpg" class="rounded " alt="img4" width="253">
    <img src="https://i.pinimg.com/564x/94/6f/13/946f13ce10803611191d403c081f3706.jpg" class="rounded " alt="img4" width="253">

    <img src="https://i.pinimg.com/564x/51/92/48/519248cf4edc4dc52c7f1299e2788e17.jpg" class="rounded " alt="img4" width="256">
 <img src="https://i.pinimg.com/564x/64/c2/31/64c231b4853f9985b9eb6205424ea6eb.jpg" class="rounded " alt="img4" width="256">
 <img src="https://i.pinimg.com/564x/9b/49/6e/9b496e0f600f9ad31acc137dc1a05dd0.jpg" class="rounded " alt="img4" width="210">
 <img src="https://i.pinimg.com/736x/e6/95/82/e6958205349c61a4b2273dffecf6c6d9.jpg" class="rounded " alt="img4" width="230">
 <img src="https://i.pinimg.com/564x/ae/63/4e/ae634e247ba3287edc39ff6a4eaad0eb.jpg" class="rounded " alt="img4" width="230">

 <img src="https://i.pinimg.com/564x/bf/6d/f3/bf6df3f5143f3ce4c4f821a4c8f9c04c.jpg" class="rounded " alt="img4" width="245">
<img src="https://i.pinimg.com/564x/89/23/7f/89237f00083d39cd6a7ba2d0676435cd.jpg" class="rounded " alt="img3" width="253">

 <img src="https://i.pinimg.com/564x/0c/c1/10/0cc110f07818aabf6b6eafd5f719c32a.jpg" class="rounded " alt="img4" width="256">
 <img src="https://i.pinimg.com/750x/8e/8f/91/8e8f91e2512252928d915dd0046d3dd2.jpg" class="rounded " alt="img4" width="240">
 <img src="https://i.pinimg.com/564x/7f/a5/83/7fa583d065e9a0162b43486cfd56dffe.jpg" class="rounded " alt="img4" width="240">
     <img src="https://i.pinimg.com/564x/cd/3d/05/cd3d05f505747c75c0fded540876c52f.jpg" class="rounded " alt="img4" width="240">
 <img src="https://i.pinimg.com/564x/56/23/5e/56235ef0a435ee6171e7d0aacbcb522e.jpg" class="rounded " alt="img4" width="235">
 <img src="https://i.pinimg.com/564x/2f/e5/d7/2fe5d70749405471c852e02d10f5f6d5.jpg" class="rounded " alt="img4" width="245">


</div>
</body>

{% endblock %}
