{% extends 'project/navbar.html' %}
{% block content %}
<style type="text/css">
   body {

    background-size: 110%;
   }
   TD.leftcol {
    width: 300px; /* Ширина левой колонки с рисунком */
     }
      hr {
    border: none; /* Убираем границу */
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
  </style>


<body background="https://catherineasquithgallery.com/uploads/posts/2021-02/1613710540_84-p-minimalistichnii-fon-dlya-prezentatsii-112.jpg">

<br>
<ul>
    {% for p in tr1 %}
         <table width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td class="leftcol">
            {% if p.photo %}
            <img src="{{p.photo.url }}"
        width="250" height="250" >
        {% endif %}
        </td>
        <td valign="top"><h4>{{p.name}}</h4>
            <p>{{p.info}}</p>
            <h5>{{p.speciality}}</h5>
            <p>Номер телефона: {{p.number}}</p>
        </td>
       </tr>
      </table>
    <hr >

    {% endfor %}
    {% for p in tr2 %}
         <table width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td class="leftcol">
            {% if p.photo %}
            <img src="{{p.photo.url }}"
        width="250" height="180" >
        {% endif %}
        </td>
        <td valign="top"><h4>{{p.name}}</h4>
            <p>{{p.info}}</p>
            <h5>{{p.speciality}}</h5>
            <p>Номер телефона: {{p.number}}</p>
        </td>
       </tr>
      </table>
    <hr >

    {% endfor %}

</ul>
{% endblock %}
