{% extends 'project/navbar.html' %}
{% block content %}
 <style type="text/css">
   TD.leftcol {
    width: 300px; /* Ширина левой колонки с рисунком */
     }
      hr {
    border: none; /* Убираем границу */
    background-color: green; /* Цвет линии */
    color: green; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
  </style>
<br>
<ul>
    {% for p in t2 %}
         <table width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td class="leftcol">
            {% if p.photo %}
            <img src="{{p.photo.url }}"
        width="250" height="200" >
        {% endif %}
        </td>
        <td valign="top"><h4>{{p.title}}</h4>
            <p>{{p.training_manager}}</p>
            <h6>{{p.time}}</h6>
            <p>{{p.place}}</p>
        </td>
       </tr>
      </table>
    <hr >

    {% endfor %}

</ul>
{% endblock %}
