{% extends 'project/navbar.html' %}
{% block content %}
 <style type="text/css">
   TD.leftcol {
    width: 300px; /* Ширина левой колонки с рисунком */
     }
      hr {
    border: none; /* Убираем границу */
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
  </style>
<center>
        {% if request.user.is_authenticated %}
           <a type="button" href="{% url 'addtraining1' %}">Добавить тренинг</a>
        {% else %}
            <p> </p>
        {% endif %}
</center>
<br>
<ul>
    {% for p in object_list %}
         <table width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td class="leftcol">
            {% if p.photo %}
            <img src="{{p.photo.url }}"
        width="250" height="200" >
        {% endif %}
        </td>
        <td valign="top"><h4>{{p.title}}</h4>
            <p>{{p.training_manager}}</p>
            <h5>{{p.time}}</h5>
            <p>{{p.place}}</p>
        </td>
       </tr>
      </table>
    <hr >

    {% endfor %}

</ul>
{% endblock %}
